/*GERAL*/

*{
/*muda tudo da pagina - seletor engloba tudo*/
margin: 0;
padding: 0;
}

body{ /*tudo do body em html será em ARIAL!*/
    font-family: Arial, Helvetica, sans-serif;
}

.container{
width: 80%;
margin: auto;
}

.btnOrange{
    background-color: orangered;
    border:none;
    padding:10px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

/* inicio estilo do HEADER*/
.header{
background-color: #232323;
width: 100%;
height: 80px;
border-bottom: solid orangered 3px;
}

.header h1{
    float: left;
    color: white;
}

.header ul li a{ /*tira o estilo de 'link'*/
    text-decoration: none;
    color: white;
}

.header li{
    /*msm linha - block - bloqueia tudo em bloquinhos do lado do outro*/
    display: inline-block;
    text-transform: uppercase;
    padding: 6px;
}

.header ul{ /*tira o as 'bolinhas' da lista*/
    list-style: none;
    float: right;
}

.header h1, .header ul{
    margin-top: 20px;
}
.header .textOrange{
    color: orangered;
    font-weight: bold;
}

/*Inicio Banner*/
.banner{
    width: 100%;
    height: 400px;
    text-align: center;
    background-image: url('./img/banner-fundo.jpeg');
    background-size: cover;
}
.banner h1 {
    padding-top: 150px;
    font-size: 40px;
    font-weight: lighter;
    color: orangered;
}
.banner h3{
    font-size: 25px;
    font-weight: lighter;
    margin-top: 15px;
}
/*Fim banner*/

/*Inicio Banner Sobre*/
.bannerSobre{
    width: 100%;
    height: 400px;
    text-align: center;
    background-image: url('./img/bannerEquipe.jpeg');
    background-size: cover;
    
}
.bannerSobre h1 {
    padding-top: 150px;
    font-size: 40px;
    font-weight: bold;
    color: orangered;
}
.bannerSobre h3{
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
    color:saddlebrown;
}
.bannerSobre background-image{
    opacity: 0.5;
}
/*Fim banner*/

/*Inicio caixa de novidades*/
.news{
    width: 100%;
    height: 80px;
    background-color: black;
    text-align: center;

}

.news button{
    margin-top: 20px;
}

/*fim caixa de novidades */

/*inicio missao visao valores*/
.box{
    background-color: red;
    text-align: center;
}
.boxItem{
    background-color: blue;
    display: inline-block;
}
.boxItem img{
    width: 100px;
}
.boxItem p, .boxItem img{
    margin-top: 15px;
}
/*fim missao visao valores*/

/* Início container 1 */

.container1 h1{
    padding-top: 50px;
    font-size: 50px;
    font-weight: lighter;
    color: orangered;
}

.container1 h4{
    padding: 20px;
    background-color: #232323;
    font-weight: lighter;
}

/* Fim container 1 */

/* Inicio equipe */
.equipe{
        width: 100%;
        height: 160px;
        background-color: #232323;
        text-align: center;
}

.equipeItem {
    display: inline-block;
    width: 15%;
}

.equipeItem img{
    width: 100px;
    height: 100px;
    margin-top: 15px;
}

.equipeItem p{
    margin-top: 10px;
    color: white;
    font-weight: lighter;
}
/* Fim equipe */



















